.suite {
    max-width: 1000px;
    margin: 10px auto 0px auto;
    padding: 5px;
    color: rgb(59, 38, 8);
    .suite-header {
        display: flex;
        justify-content: space-between;
    }
    &.nest-level-0 {
        background-color: #d1d1d1;
    }
    &.nest-level-1 {
        background-color: #bdbdbd;
    }
    &.nest-level-2 {
        background-color: #a0a0a0;
    }
}