.test {
    color: white;
    padding: 5px;
    margin: 5px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    border-radius: 5px;
    h5 {
        margin: 5px;
    }
    &.pass-fast {
        background-color: rgb(80, 197, 80);
    }
    &.pass-slow {
        background-color: rgb(255, 230, 0);
        color: rgb(83, 83, 83);
    }
    &.fail {
        background-color: rgb(206, 72, 72);
    }
}